extends layout

block content
  h1= title

  div(class="col-md-4")
    h2 Create team

    form(action="/teams/create", method="post", class="well")
      div(class="form-group")
        label(for="username")
          | Team name
        input(type="text", name="name", class="form-control")
      input(type="submit" class="btn btn-primary")

  div(class="col-md-6")
    h2 Teams

    ul
    each team in teams
      li
        strong
          = team.name
        | &nbsp;
        a(href="/teams/" + team.id + "/destroy", class="btn btn-xs btn-warning") delete
        ul
          li
            | Create user
            form(action="/teams/" + team.id + "/users/create", method="post", class="form-inline")
              div(class="form-group")
                input(type="text", name="name", class="input-sm form-control")
                input(type="submit", class="btn btn-sm btn-primary")
          each user in team.users
            li
              strong
                = user.name
              | &nbsp;
              a(href="/teams/" + team.id + "/users/" + user.id + "/destroy",  class="btn btn-xs btn-warning") delete
