body {
  padding: 50px;
  font: 14px "Helvetica Neue","Open Sans",sans-serif;
}

a {
  color: #00B7FF;
}

h1, h2 {
  font-weight: 100;
}

h1 {
  font-size: 35px;
}

ul li {
  padding: 5px;
}

.head {
  background-color: DimGray;
}

.gold {
  background-color: gold;
}

.silver {
  background-color: silver;
}

.bronze {
  background-color: DarkGoldenrod;
}

.other {
  background-color: CornflowerBlue;
}

.all {
  background-color: #d9ead3;
}
.all.diff {
  background-color: #b6d7a8;
}

.single {
  background-color: #fff2cc;
}
.single.diff {
  background-color: #ffe599;
}

.double {
  background-color: #c9daf8;
}
.double.diff {
  background-color: #a4c2f4;
}

.top {
  background-color: #f4cccc;
}